<h1>Listing classified_ads</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Rent</th>
      <th>Location</th>
      <th>Description</th>
      <th>Bed</th>
      <th>Bath</th>
      <th>End date</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @classified_ads.each do |classified_ad| %>
      <tr>
        <td><%= classified_ad.title %></td>
        <td><%= classified_ad.rent %></td>
        <td><%= classified_ad.location %></td>
        <td><%= classified_ad.description %></td>
        <td><%= classified_ad.bed %></td>
        <td><%= classified_ad.bath %></td>
        <td><%= classified_ad.end_date %></td>
        <td><%= classified_ad.user_id %></td>
        <td><%= link_to 'Show', classified_ad %></td>
        <td><%= link_to 'Edit', edit_classified_ad_path(classified_ad) %></td>
        <td><%= link_to 'Destroy', classified_ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified ad', new_classified_ad_path %>
